.impact-card {
    padding: 20px;
}

.icon-container {
    margin-right: 20px;
    flex-shrink: 0;
}

.content {
    width: 100%;
}

.impact-title {
    font-size: 24px;
    color: #13121a;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: left;
    margin-top: 10px;
    font-family: "Playfair Display", serif !important;
}

.impact-description {
    color: #13121a;
    text-align: left;
    font-size: 16px;

}

@media (max-width: 768px) {
    .impact-card {
        padding: 8px !important;
    }

    .impact-title {
        font-size: 20px;
    }

    .impact-description {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .impact-title {
        font-size: 18px;
    }

    .impact-description {
        font-size: 12px;
    }
}